
<h1>
  The current time is: <%= Time.new.localtime %>
</h1>
<% if @infusionsoft.count > 0 %>
  <h2><b>
    The following assessment tags were sent to Infusionsoft:
  </b></h2><p></p>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th></th>
      <th colspan="3">Client/Coach</th>
      <th colspan="4">Infusionsoft/Values</th>
    </tr>
    <tr>
      <th>Promo</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Style</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Dormant</th>
    </tr>
    </thead>
    <tbody>
    <% @infusionsoft.each do |test| %>
      <tr>
        <td align='center'>
          <%= test[:qtest].free_test ? 'Yes' : '' %>
        </td>
        <td align='center'>
          <%= test[:qtest].first_name %>
        </td>
        <td align='center'>
          <%= test[:qtest].last_name %>
        </td>
        <td align='center'>
          <%= test[:qtest].email %>
        </td>
        <td align='center'>
          <%= test[:qtest].innovation_style %>
        </td>
        <td align='center'>
          <%= test[:qtest].driving_strength_1 %>
        </td>
        <td align='center'>
          <%= test[:qtest].driving_strength_2 %>
        </td>
        <td align='center'>
          <%= test[:qtest].latent_strength %>
        </td>
      </tr>
      <tr>
        <td align='center'>
        </td>
        <td align='center'>
          <%= test[:qtest].coach_first_name %>
        </td>
        <td align='center'>
          <%= test[:qtest].coach_last_name %>
        </td>
        <td align='center'>
          <%= test[:qtest].coach_email %>
        </td>
        <td align='center'>
          <%= test[:style] %>
        </td>
        <td align='center'>
          <%= test[:primary_strength] %>
        </td>
        <td align='center'>
          <%= test[:secondary_strength] %>
        </td>
        <td align='center'>
          <%= test[:latent_strength] %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2>
    There were no new assessments sent to Infusionsoft.
  </h2><p></p>
<% end %>

<% @report.each_pair do |key, report| %>
  <h2><b>
    <%= "#{key}:" %>
  </b></h2>
  <p></p>
  <table class='table table-striped table-responsive'>
    <thead>
    <tr>
      <th>Type</th>
      <th>Total</th>
      <th>Finished</th>
      <th>In-process</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td align='center'>Promo</td>
      <td align='center'><%= report[:count][:promo] %></td>
      <td align='center'><%= report[:finished][:promo] %></td>
      <td align='center'><%= report[:in_process][:promo] %></td>
    </tr>
    <tr>
      <td align='center'>Regular</td>
      <td align='center'><%= report[:count][:regular] %></td>
      <td align='center'><%= report[:finished][:regular] %></td>
      <td align='center'><%= report[:in_process][:regular] %></td>
    </tr>
    </tbody>
  </table>

  <p></p>

  <% if (report[:in_process][:promo] + report[:in_process][:regular]) > 0 %>
    <h2><b>These are the assessments that are not finished:</b></h2>
    <p></p>
    <table class='table table-striped table-responsive'>
      <thead>
      <tr>
        <th>Type</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Question Finished</th>
        <th>Total Questions</th>
        <th>Company</th>
      </tr>
      </thead>
      <tbody>
      <% report[:not_finished][:promo].each do |qtest| %>
        <tr>
          <td align='center'>Promo</td>
          <td align='center'><%= qtest.first_name %></td>
          <td align='center'><%= qtest.last_name %></td>
          <td align='center'><%= qtest.email %></td>
          <td align='center'><%= qtest.question_finished %></td>
          <td align='center'><%= qtest.question_count %></td>
          <td align='center'><%= qtest.company %></td>
        </tr>
      <% end %>

      <% report[:not_finished][:regular].each do |qtest| %>
        <tr>
          <td align='center'>Regular</td>
          <td align='center'><%= qtest.first_name %></td>
          <td align='center'><%= qtest.last_name %></td>
          <td align='center'><%= qtest.email %></td>
          <td align='center'><%= qtest.question_finished %></td>
          <td align='center'><%= qtest.question_count %></td>
          <td align='center'><%= qtest.company %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% end %>
<% end %>
